@model Register

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/cssSecurity/style.css" rel="stylesheet" />
<link href="~/Content/cssSecurity/style1.css" rel="stylesheet" />
<style>
    .header, footer, .go-to-top {
        display: none;
    }
</style>
<div class="container m-auto justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="login-wrap">
                    <form asp-controller="Security" asp-action="Register" method="post" class="form" id="form-1" style="padding-bottom: 20px;">
                        <h3 class="heading text-center">
                            <span class="justify-content-between">Đăng ký</span>
                        </h3>
                        <div class="col-md-12 col-lg-12 col-sm-12 d-flex pt-2" style="position: relative;">
                            <div class="m-auto text-center div-light align-items-center w-100">
                                <span class="justify-content-between">Đăng ký tài khoản</span>
                            </div>
                        </div>

                        <div class="form-group pt-5">
                            <div class="css-vivg1i e1xsindi4">
                                <label class="control-label col-form-label d-flex text-dark">
                                    <span class="pl-3">Họ và tên</span>
                                </label>
                                <input type="text" asp-for="FullName" class="form-control" />
                            </div>
                            <span class="form-message">
                                <span asp-validation-for="FullName" class="text-danger fa-2xs"></span>
                            </span>
                        </div>

                        <div class="form-group">
                            <div class="css-vivg1i e1xsindi4">
                                <label class="control-label col-form-label d-flex text-dark">
                                    <span class="pl-3">Tên đăng nhập</span>
                                </label>
                                <input type="text" asp-for="UserName" class="form-control" />
                            </div>
                            <span class="form-message">
                                <span asp-validation-for="UserName" class="text-danger fa-2xs"></span>
                            </span>
                        </div>

                        <div class="form-group">
                            <div class="css-vivg1i e1xsindi4">
                                <label class="control-label col-form-label d-flex text-dark">
                                    <span class="pl-3">Mật khẩu</span>
                                </label>
                                <input type="password" asp-for="Password" class="form-control" />
                            </div>
                            <span class="form-message">
                                <span asp-validation-for="Password" class="text-danger fa-2xs"></span>
                            </span>
                        </div>

                        <div class="form-group">
                            <div class="css-vivg1i e1xsindi4">
                                <label class="control-label col-form-label d-flex text-dark" for="MatKhauXacNhan">
                                    <span class="pl-3">Mật khẩu xác nhận:</span>
                                </label>
                                <input type="password" asp-for="ConfirmPassword" class="form-control" />
                            </div>
                            <span class="form-message">
                                <span asp-validation-for="ConfirmPassword" class="text-danger fa-2xs"></span>
                            </span>
                        </div>

                        <div class="form-group">
                            <div class="css-vivg1i e1xsindi4">
                                <label class="control-label col-form-label d-flex text-dark">
                                    <span class="pl-3">Email</span>
                                </label>
                                <input type="email" asp-for="Email" class="form-control" />
                            </div>
                            <span class="form-message">
                                <span asp-validation-for="Email" class="text-danger fa-2xs"></span>
                            </span>
                        </div>

                        <div class="form-group">
                            <div class="css-vivg1i e1xsindi4">
                                <label class="control-label col-form-label d-flex text-dark">
                                    <span class="pl-3">Ngày sinh</span>
                                </label>
                                <input type="date" class="form-control" asp-for="BirthDate" />
                            </div>
                            <span class="form-message">
                                <span asp-validation-for="BirthDate" class="text-danger fa-2xs"></span>
                            </span>
                        </div>

                        <button type="submit" value="Create" class="btn form-control rounded submit px-3 btn_login form-submit pt-1 pb-1" name="register_submit">Đăng ký</button>
                        <div class="dont-have-account text-center pt-2">
                            <span style="color: coral">Bạn đã có tài khoản?</span>
                            <button type="submit" class="btn form-control rounded submit px-3 btn_login form-submit pt-1 pb-1" value="Login" name="login_submit">
                                <a class="account-register" asp-controller="Security" asp-action="SignIn">
                                    Đăng nhập
                                </a>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
