
@{
    ViewData["Title"] = "ConfirmEmailSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ConfirmEmailSuccess</h1>
<h2>Email của bạn đã được xác nhận thành công!</h2>
<a class="btn btn-primary" href="/">Về trang chủ</a>
