@{
    ViewData["Title"] = "ForgotPasswordSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/cssSecurity/style.css" rel="stylesheet" />
<link href="~/Content/cssSecurity/style1.css" rel="stylesheet" />
<style>
    .header, footer, .go-to-top {
        display: none;
    }
</style>

<div class="container m-auto justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="login-wrap py-3">
                    <form class="form" id="form-forgot">
                        @Html.AntiForgeryToken()

                        <h3 class="text-center">Đặt lại mật khẩu thành công</h3>
                        <div class="form-group">
                            <span class="form-message">
                                <h6 class="pl-1 pr-1" style="color: black;">Mật khẩu tạm thời của bạn đã được tạo thành công. Vui lòng đăng nhập bằng mật khẩu này và thay đổi mật khẩu của bạn ngay khi có thể.</h6>
                                <br />
                                <h6 style="color: black;">Mật khẩu tạm thời: <strong style="color: coral;">@ViewBag.TempPassword</strong></h6>
                            </span>
                        </div>
                        <div class="form-group dont-have-account text-center">
                            <a asp-controller="Security" asp-action="SignIn">Quay lại đăng nhập</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


